 .u-section-1 {
  background-image: linear-gradient(white, #c0c0c0);
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  margin: 50px auto 0 379px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 2.25rem;
  margin: 20px 489px 0 379px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.2em;
}

.u-section-1 .u-image-1 {
  width: 456px;
  height: 300px;
  margin: -236px 743px 0 -59px;
}

.u-section-1 .u-map-1 {
  height: 329px;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-left: 179px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 643px;
  }

  .u-section-1 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 55px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -224px;
    margin-right: 314px;
    margin-left: -50px;
  }

  .u-section-1 .u-map-1 {
    margin-top: -10px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 137px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 222px;
    height: 146px;
    margin-top: -268px;
    margin-left: 59px;
    margin-right: 59px;
  }

  .u-section-1 .u-map-1 {
    margin-top: 156px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
  }
}